:root{
    --main-colora: #DD2F6E;
    --color-darka: #1D2231;
    --text-greya: #8390A2;
}
.sidebar-admin{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-colora);
    z-index: 100;
    transition: width 300ms;
}
.sidebar-admin__brand{
    padding: 1rem 0rem 1rem 2rem;
    height: 90px;
    color:#fff;
}
#nav-toggle:checked + .sidebar-admin{
    width: 70px;
}
#nav-toggle:checked + .sidebar-admin .sidebar-admin__brand,
#nav-toggle:checked + .sidebar-admin li{
    padding-left: 1rem;
    text-align: center;
}
#nav-toggle:checked + .sidebar-admin li a{
    padding-left: 0rem;
}
#nav-toggle:checked + .sidebar-admin .sidebar-admin__brand span:last-child,
#nav-toggle:checked + .sidebar-admin li a span:last-child {
    display: none;
}
#nav-toggle:checked ~ .main-content-admin{
    margin-left: 70px;
}
#nav-toggle:checked ~ .main-content-admin header{
    width: calc(100% - 70px);
    left: 70px;
}
.main-content-admin{
    transition: margin-left 300ms;
    margin-left: 345px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #fbeeff;
    box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}
#nav-toggle{
    display: none;
}
header h4{
    color:blue;
}
header label i{
    font-size: 1.7rem;
    padding-right: 1rem;
}
.user-wrapper-admin{
    display: flex;
    align-items: center;
}
.user-wrapper-admin img{
    border-radius: 100%;
    background: red;
    margin-right: 1rem;
}
.user-wrapper-admin h5{
    margin-bottom: 0rem ;
}
.user-wrapper-admin small{
    display: inline-block;
    color:red;
}
main{
    margin-top:80px;
    padding: 2rem 1.5rem;
    background: wheat;
    min-height: calc(100vh - 90px);
}