@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100;200;300;400;600;700;800;900&family=Lilita+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Paletas de colores */
:root {
	--morado-gra: linear-gradient(42deg, rgba(135,76,182,1) 0%, rgba(72,11,164,1) 100%);
	--morado: rgb(88 28 169);
	--blanco: #fff;
	--rojo: #ff0000;
	--verde: #00ca6d;
	--amarillo: #ffa000;
	--btn-plus: rgb(93 33 170 / 52%);
	--text-nav: #fff;
	--hover-content: #fff;
	--text-hover: #d5adff;
	--text-focus: #333;
	--focus-content: #fff;
	--main-content: #f0f1f3;
	--margin-top: 2.5rem;
	--padding-card: 1.4rem;
	--border-boxs: #dee2e6;
}

/* Clases de estatus */
.rojo{
	color: var(--rojo);
}
.rojo-box{
	background-color: var(--rojo) !important;
	color: var(--blanco) !important;
}
.verde{
	color: var(--verde);
}
.verde-box{
	background-color: var(--verde) !important;
	color: var(--blanco) !important;
}
.amarillo{
	color: var(--amarillo);
}

/* Contenedor General */
.contenedor {
	width: 100%;
	position: relative;
	font-family: 'Lexend Deca', sans-serif;
}

/* Aside Lateral */
.aside {
	position: fixed;
	width: 240px;
	height: 100%;
	background-color: var(--morado);
	background: var(--morado-gra);
	transition: all .5s;
	overflow: hidden;
}
.aside.active-tam {
	width: 68px;
}
.aside__nav {
}
.aside__li {
	display: flex;
	align-items: center;
	position: relative;
	min-height:60px: ;
	height: 60px;
	width: 100%;
	margin-left: .5rem ;
}
.aside__li:hover,
.aside__li.hovered {
	background: var(--main-content);
	border-radius: 30px 0px 0px 30px;
}
.aside__li:nth-child(1) {
	pointer-events: none;	
}
.aside__li:nth-child(3) {
	pointer-events: none;
}
.aside__a {
	color: var(--text-nav);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	transition: all .2s;
}
.aside__li:hover .aside__a,
.aside__li.hovered .aside__a {
	color: var(--morado);
	font-weight: 600;
	font-size: 18px;
}
.aside__abrand {
	padding-top: 18px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05rem;
	font-weight: 800;
}
.aside__hr {
	margin: .5rem 0;
	border-color: rgb(255 248 248 / 56%);
}
.aside__brand {
	font-size: 2rem;
}
.aside__icon {
	min-width: 60px;
	text-align: center;
}
.aside__info {
	*text-align: start;
	white-space: nowrap;
}

/* Curvas li aside */
.aside__li:hover .aside__a::before,
.aside__li.hovered .aside__a::before {
	content: '';
	position: absolute;
	right: .5rem;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	z-index: 1;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--main-content);

}
.aside__li:hover .aside__a::after,
.aside__li.hovered .aside__a::after {
	content: '';
	position: absolute;
	right: .5rem;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	z-index: 1;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--main-content);
}

/* Focus Nav */
.aside__li:focus-within {
	border-radius: 30px 0px 0px 30px;
	background: var(--main-content);
	transition: all .2s;
}
.aside__li:focus-within .aside__a {
	color: var(--morado);
	font-size: 18px;
	font-weight: 600;
}
.aside__li:focus-within .aside__a::before {
	content: '';
	position: absolute;
	right: .5rem;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	z-index: 1;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--main-content);
}
.aside__li:focus-within .aside__a::after {
	content: '';
	position: absolute;
	right: .5rem;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	z-index: 1;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--main-content);
}

/* Main */
.main {
	position: absolute;
	width: calc(100% - 240px);
	left: 240px;
	min-height: 100vh;
	background-color: var(--main-content);
	transition: all .5s;
}
.main.active-tam {
	width: calc(100% - 68px);
	left: 68px;
}
.main__topnav {
	z-index: 1;
	*overflow: hidden;
	width: 100%;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 0rem 1rem;
	background-color: var(--blanco);

}
/* Menu desplegable nav Side */
.main__toggle {
	position: relative;
	padding: .7rem;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 3rem;
	cursor: pointer;
	transition: all .5s ease;
}
.main__toggle-rotate {
	transform: rotate(90deg);
}
/* Galletica Nav */
.main__galletica {
	position: relative;
	padding: .7rem;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1rem;
}

/* Perfil Usuario Nav */
.perfil-usuario {
	position: relative;
}
.profile-details {
	display: flex;
	align-items: center;
	min-width: 190px;
	overflow: hidden;
	cursor: pointer;
}
.profile-details:active{
	transform: scale(0.98);
}
/*.profile-details__img {
	width: 40px;
	height: 40px;
	background-color: silver;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
}*/
.profile-details__user {
	font-size: 1rem;
	font-weight: 500;
	margin: 0px 8px;
	white-space: nowrap;
}
.box {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.box::before {
	content: '';
	position: absolute;
	inset: -10px 14px;
	background: linear-gradient(315deg, #dee2e6, #e9ecef);
	transition: 0.5s;
	animation: animate 4s linear infinite;
}
@keyframes animate {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.box::after {
	content: '';
	position: absolute;
	inset: 2px;
	background: white;
	border-radius: 50%;
	z-index: 1;
}
.contentlol {
	position: absolute;
	inset: 2px;
	border: 2px solid white;
	z-index: 3;
	border-radius: 50%;
	overflow: hidden;
}
.contentlol img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* Menu drop */
.profile-details i {
	transition: all .5s;
}
.dropdowni.active-dropdowni_menu .dropdowni__down {
	transform: rotate(180deg);
}
.dropdowni_menu {
	z-index: 2;
	background-color: var(--blanco);
	border: 1px solid #dee2e6;
	border-radius: 0.375rem;
}
.dropdowni.active-dropdowni_menu .dropdowni_menu {
	transition: all .2s;
}
.dropdowni_menu__hr {
	margin: 0px;
	border-color: #adb5bd;
}
.dropdowni_menu__a {
	padding: 1rem 1.8rem;
}
.dropdowni_menu__a:active {
	color: var(--text-nav);
	background-color: var(--morado);
}
.dropdowni_menu__a i {
	margin-right: 10px;
}
.dropdowni_menu__a:hover {
	font-size: 17px;
}
/* Galletica */
.main__galletica {
	display: flex;
	align-items: center;
}
.main__galletica-img {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}
.main__galletica-frases {
	font-size: .8rem;
	white-space: nowrap;
}
.main__navbar-logo-movil{
	display: none;
}
.main__navbar-logo-movil__img{
	width: 40px;
	height: auto;
	opacity: .8;
}
.main__notificaciones{
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}

.main__notificaciones i{
	font-size: 24px;
}
.main__notificaciones-radius{
	position: absolute;
	top: -4px;
	right: 0;
}
.main__notificaciones-radius i{
	font-size: 10px;
	color: #914af7;
}
/* ESTATUS DE NOTIFIACIONES */
.main__notificaciones-radius.active i{
	color: #47d493;
}
.main__navbar-whapp{
	font-size: 24px;
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}
.tarjeta0{

}
.tarjeta1 {
	height: 27px;
	width: 20px;
	background-color: #ff8686;
	border-radius: 2px;
	z-index: 1;
	position: absolute;
	border: 1px solid #3b3b3b;
}
.tarjeta2 {
	height: 27px;
	width: 20px;
	background-color: #ffff8d;
	border-radius: 2px;
	margin-left: 5px;
	transform: rotate(12deg);
	border: 1px solid #3b3b3b;
}
.v-mobil__box{
	padding: 1rem 1.8rem;
	text-align: center;
}
.v-mobil__box{
	margin-bottom: 2px;
}
.v-mobil__box p{
	margin-bottom: 2px;
}
.v-mobil__categoria{
	font-size: 12px;
	color: #914af7;
}
/* Contenido general de la web */
.main__body{
	overflow: hidden;
}
.main__body-nuevo{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}
.main__body-nuevo-txt{
	border: 6px dashed #ced4da;
	text-align: center;
	padding: 3rem 8rem;
	font-size: 2rem;
	font-weight: 700;
	color: #ced4da;
	text-shadow: #e0e0e0 1px 1px 0;
}
/* Modal */
.modal-content{
	border-radius: 0.75em;
}
.modal-header{
	border-bottom: 2px solid #dee2e6;
}
.modal-footer{
	border-top: 2px solid #dee2e6;
}
.modal{
	background-color: rgb(13 110 253 / 25%);
}
.main__body-modal-dialog{
	transition: all .5s !important;
}
.main__body-modal-body {
	padding: 2rem 3rem 3rem 2rem;
}
.main__body-body-input{
	border-radius: 30px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.main__body-label-textarea{
	height: 100px;
}
.main__body__modal-search{
	position: relative;
}
.main__body__modal-search i{
	position: absolute;
	bottom: 6px;
	left: 12px;
	color: #9fa2a4;
	font-size: 22px;
}
.main__body .form-control{
	border: 2px solid #dee2e6;
}
.main__body-modal-check{
	margin: 1.5rem 0rem .5rem 0rem;
}
.main__body-modal-check-span{
	margin-right: 10px;
}
.main__body .modal-footer{
	justify-content: space-around;
}
.modal-footer__btn{
	padding-left: 2rem;
	padding-right: 2rem;
	font-weight: 600;
	font-size: 18px;
}

/* Index Reporte */
.index-reporte__reportes{
	margin-top: var(--margin-top);
	padding: var(--padding-card);
	border-radius: .5em;
	width: 100%;
	max-height: 472px;
	background: var(--blanco);
}
.index-reporte__reportes-h3{
	font-size: 18px;
	margin-bottom: 0;
}
.index-reporte__tittle{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f0f1f3;
}
.index-reporte__tittle-a{
	color: var(--btn-plus);
	transition: all .3s;
}
.card-content__search {
	position: relative;
	margin-bottom: 1.4rem;
}
.card-content__search i{
    position: absolute;
    bottom: 5px;
    left: 16px;
    color: #9fa2a4;
    font-size: 20px;
}
.index-reporte__card-content{
	overflow-y: scroll;
	padding: 1rem;
	height: 344px;
}
.card-content__search .card-content__input{
	border-radius: 30px;
	border-color: #f0f1f3;
	padding-left: 44px;
}
.index-reporte__agg-card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0rem;
	font-size: 14px;
	font-weight: 300;
}
.index-reporte__agg-card i{
	font-size: 12px;
	width: 14px;
}
.index-reporte__agg-card-estudiante{
    width: 178px;
}
.index-reporte__agg-card-fecha{
}
.index-reporte_footer{
	border-top: 2px solid #f0f1f3;
	
}
.index-reporte_footer a{
	padding: 1rem;
}
.index-reporte_footer-2{
	border-top: 2px solid #f0f1f3;
}
.index-reporte_footer-2 a{
	padding: 1rem;
}
.index-reporte-inf{
	margin-top: var(--margin-top);
	padding: var(--padding-card);
	background-color: var(--blanco);
	border-radius: 0.5em;
	width: 100%;
	height: 468px;
	overflow: hidden;
}
.index-reporte-inf-title{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f0f1f3;
}

.index-reporte-inf-title-h3{
	font-size: 18px;
    margin-bottom: 0;
}
.index-reporte-inf-content{
	height: 344px;
}
.status-report-sub{
	margin: 1.4rem 0;
	padding: .5rem;
	font-size: 15px;
	background-color: rgb(194 194 194 / 25%);
}
/* Caja detalle de reporte vision general */
.box-progreso{
	padding: .5rem;
}
.barra-progreso{
	position: relative;
	width: 100%;
	margin: auto;
	padding: 1.6rem 0;
}
.padding-top{
	padding-top: 0;
}
.padding-bottom{
	padding-bottom: 0;
}
.barra-progreso::before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	height: 100%;
	background-color: silver;
	margin: auto;
}
.barra-progreso::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	height: 100%;
	*background-color: red;
	margin: auto;
}
.circulo-p{
	position: relative;
	*width: 33%;
	width: 26%;
	z-index: 2;
}
.circulo-p span{
	display: block;
	width: 30px;
	height: 30px;
	background-color: #b6b8ba;
	border-radius: 50%;
	margin: auto;
	font-size: 22px;
	color: #dedfe1;
	z-index: 2;
}
.pre-circulo{
	width: 33%;
	font-size: 15px;
	font-weight: 300;
}
.pos-circulo{
	width: 33%;
	font-size: 15px;
	text-align: initial;
	font-weight: 300;
}
.box__tramite-completo{
	margin-right: 8px;
}
.pre-circulo__btn:active{
	transform: scale(0.98);
}
.modal-expan-title__h1-to,
.modal-expan-title__h1-bo{
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	font-size: 1.3rem;
}
.box-modal-expan-seccion,
.modal-expan-descripcion{
	margin-bottom: 1.4rem;
}
.modal-expan-subTitle{
	background-color: rgb(192 192 192 / 26%);
	padding: 2px 6px;
}
.modal-expan-profesor__span,
.modal-expan-fecha__span,
.modal-expan-estudiante__span,
.modal-expan-representante__span,
.modal-expan-subMotivo{
	font-weight: 300;
	padding-left: 4px;
}
.modal-expan-motivo{
	margin-bottom: .5rem;
}
.modal-expan-descripcion{
	min-height: 120px;
	max-height: 140px;
	width: 100%;
	height: auto;
	font-weight: 300;
	border: 2px solid var(--border-boxs);
	border-radius: .375rem;
	padding: 1rem;
}
.btn-modal-expan{
	margin-top: 2.8rem;
}
.btn-modal-expan button{
	margin: 0 6px;
}

/* Responsive */
@media (max-width:1400px) {
	.v-mobil__box{
		display: none;
	}
	.dropdowni_menu__hr-mobil{
		display: none;
	}
}
@media (max-width:1216px) {
	.v-mobil__box{
		display: none;
	}
	.dropdowni_menu__hr-mobil{
		display: none;
	}
}
@media (max-width:768px) {
	.v-mobil__box{
		display: block;
	}
	.dropdowni_menu__hr-mobil{
		display: block;
	}
}

@media (max-width:767px) {
	.main__galletica{
		display: none;
	}
}

@media (max-width:576px) {
	.aside{
		left: -240px;
	}
	.aside.active-tam{
		width: 240px;
		left: 0px;
	}
	.main{
		width: 100%;
		left: 0;
	}
	.main.active-tam{
		left: 240px;
	}
	.main__galletica{
		display: none;
	}
	.profile-details__user{
		display: none;
	}
	.profile-details{
		min-width: 0;
	}
	.main__navbar-logo-movil{
		display: block;
		position: relative;
		display: flex;
		align-items: center;
	}
	.v-mobil__box{
		display: block;
	}
	.dropdowni_menu__hr-mobil{
		display: block;
	}
	.main__body-nuevo-txt{
		padding: 2rem 2rem;
    	font-size: 2rem;
	}
	.main__body-modal-body{
		padding: 2rem 1rem 2rem 1rem;
	}
	.main__body-modal-check{
		display: inline-flex;
	}

	/* Index Reportes */
	.index-reporte__reportes{
		max-height: 768px;
	}
	.index-reporte__reportes-h3{
		font-size: 17px;
	}
	.index-reporte
	.col-lg-5, .col-lg-7{
		padding: 0;
	}
	.index-reporte__agg-card i{
		margin-right: 10px;
	}
	.index-reporte-inf{
		min-height: 468px;
		margin-bottom: var(--margin-top);
	}
	.index-reporte_footer a{
		padding: 1rem 0 0 0;
	}
	.index-reporte__card-content{
		height: auto;
	}
	.box__tramite-completo{
		padding-right: .5rem;
	}
	.iricbotf__data{
		text-align: initial !important;
	}
	.box-progreso{
		padding: 0;
	}
	.col-movil{
		padding: 0;
	}
	.status-report-sub{
		font-size: 13px;
		margin-bottom: 2.2rem;
	}
	/* Barra de progreso */
	.pre-circulo{
		font-size: 13px;
	}
	.pre-circulo__btn{
		font-size: 14px;
	}
	.pos-circulo{
		font-size: 13px;
	}
	.pos-circulo-sm{
		margin-top: 10px;
	}
	.index-reporte_footer-2{
		font-size: 13px;
	}
	.index-reporte_footer-2 a{
		padding: 1rem 0 0;
	}
	.modal-col-expan{
		margin-bottom: 1rem;
	}
	.modal-expan-title__h1-to{
		margin-top: 1.4rem;
	}
	.modal-expan-title__h1-bo{
		margin-top: 0.5rem;
		margin-bottom: 1.6rem;
	}
	.modal-expan-profesor__span, 
	.modal-expan-fecha__span, 
	.modal-expan-estudiante__span, 
	.modal-expan-representante__span, 
	.modal-expan-subMotivo{
		padding-left: 0;
	}
	.modal-expan-profesor__sub,
	.modal-expan-fecha__sub,
	.modal-expan-estudiante__sub,
	.modal-expan-representante__sub{
		margin: .5rem;
	}
	.modal-expan-descripcion{
		*margin-bottom: 2.4rem;
		padding: 0;
		border-radius: 0;
		border: 0;
		min-height: 220px;
		max-height: 240px;
	}
	.modal-expan-descripcion__p{
		margin-bottom: 0;
		padding-right: 10px;
	}
	.btn-modal-expan{
		margin-bottom: 1.4rem;
	}
	.btn-modal-expan button {
		margin: 0;
		font-size: 14px;
	}
	.box-modal-expan-seccion{
		margin-bottom: 0;
	}
	.modal-expan-motivo{
		background-color: rgb(192 192 192 / 26%);
		padding: 2px 6px;
		margin-bottom: .8rem;
	}
}



/* BORRAR PRUEBA DE BARRA DE PROGRESO */

.progreso-contenedor{
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	*width: 350px;
}

.progreso-contenedor::before{
	content: '';
	background: yellow;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 4px;
	width: 100%;
	*z-index: -1;
	transition: .4s;
}
.progreso{
	background: red;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 4px;
	width: 0%;
	*z-index: -1;
	transition: .4s;
}
.circle{
	background: silver;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border:3px solid wheat;
	z-index: 1;
	transition: .4s;
}
.circle.active-i{
	border-color: red;
	background-color: red;
}
.circle.active-e{
	background-color: green;
}
.btnx{
	background-color: wheat;
	border: 0;
}
.btnx:active{
	transform: scale(0.98);
}
.btnx:focus{
	outline: 0;
}
.btnx:disabled{
	background: silver;
	cursor: not-allowed;
}

