@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100;200;300;400;600;700;800;900&family=Lilita+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main-index{
	padding: 0;
}
.main-index{
	font-family: 'Lexend Deca', sans-serif;
}
.side__ul{
	width: 14rem;
	min-height: 100vh;
	background: rgb(135,76,182);
	background: linear-gradient(42deg, rgba(135,76,182,1) 0%, rgba(72,11,164,1) 100%);
	background-size: cover;
}
.side__brand{
	color: #fff;
	height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}
.side__brand-icon{
	font-size: 2rem;
}
.side__brand-text{
	display: inline;
}
.side-divider{
	margin: 0 1rem 1rem;
	border-top: 1px solid rgb(255 248 248 / 56%);
}
.side__li-a{
	padding: 1rem;
	color: #fff;
	font-weight: 500;
	transition: all .5s;
}
.side__li-a i{
	font-size: .85rem;
    margin-right: 0.5rem;
}
.side__li-a:focus{
	color: #fff;
}
.side__li-a:hover{
	color: #d5adff;
}
.act:focus{
    background-color: #fff;
    color: black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.side__li-a__span{
	float: right;
}
.side__li-a__span:focus{
	transform: rotate(90deg);
}
.collapse__focus:focus{
	width: 121%;
    background-color: white;
}
.collapse__focus:hover{
	color: #4f12a6;
}